@media(max-width:1200px) {
    html {
        font-size: 55%;
    }
}

@media(max-width:991px) {
    #menu-icon {
        display: block;

    }

    #cross {
        display: block;
    }

    /* #toggle{
        display: flex;
    } */

    .logo {
        margin-left: -60rem;
    }

    #menu-icon {
        position: absolute;
        margin-left: 48rem;
        margin-top: -1.5rem;
    }

    #cross {
        position: absolute;
        margin-left: 48rem;
        margin-top: -1.5rem;

    }


    .top-btn {
        position: absolute;
        margin-left: 78rem;
    }

    .navbar {
        position: absolute;
        top: 7rem;
        right: 0;
        width: 25.5rem;
        min-height: 80vh;
        display: flex;
        flex-direction: column;
        background: rgb(29, 28, 28);
        transition: all 0.5s ease;
        transform: translateY(-5px);

    }

    .show {
        display: block;
    }

    .hide {
        display: none;
    }


    .navbar a {
        display: block;
        padding: 17px;
        font-size: 2.2rem;
    }

    .navbar .active {
        right: -100%;
    }

    .home-content h3 {
        font-size: 4.5rem;
        margin-top: 1.5rem;
    }

    .home-content {
        order: 0;
        margin-left: -10rem;
    }

    .home-img {
        width: 70vw;
        margin-top: 4rem;
    }

    header {
        padding: 2rem 3%;
    }

    section {
        padding: 10rem 3%;
    }

    .services {
        padding: 7rem;
    }

    /* ...about section */
    .about-main-container {
        display: flex;
        flex-direction: column;
    }

    .about-content {
        margin-top: 2rem;
        text-align: center;
        font-size: 5rem;
    }

    .about {
        display: block;
    }

    .about-img img {
        height: auto;
        width: 76vw;
        margin-left: 10rem;

    }

    .review .wrapper {
        grid-template-columns: repeat(1, 1fr);
    }

    /* ..contact section code */
    .image-contact {
        width: 100%;
    }

    .image-contact .para-info-main {
        font-size: 2.5rem;
    }

    .contact-leftRight-Container .contact-left {}

    .contact-right {
        width: 40%;
    }

    .contact-left .left-item .item-name {
        width: 100%;
    }

    .contact-left .left-item {

        width: 100%;
    }

    .contact-left .left-item .left-icon {
        height: 8rem;
        width: 8rem;
    }



    /* footer code */
    .footer {
        padding: 4rem 0;
    }

    .home-img:before {
        content: 'FITNESS';
        position: absolute;
        top: 10%;
        left: 40%;
        transform: translateX(-50%);
        font-size: 20rem;
        font-weight: 400;
        line-height: 20rem;
        color: var(--text-color);
        opacity: 0.1;
        z-index: -1;

    }

    /* ...Join-form-code */
    .registration-form-wrapper .form-right .reg {
        font-size: 3rem;
    }

    .registration-form-wrapper .form-left {
        height: 70vh;
        width: 50%;

    }

    .registration-form-wrapper .form-right {
        border: 1px solid white;
        height: 70vh;
        width: 50%;
    }

    .registration-form-wrapper .input-box {

        row-gap: 4.5rem;
    }


    .registration-form-wrapper .input-box textarea {
        font-size: 3rem;
        height: 10rem;
    }

    .registration-form-wrapper .input-box input {
        font-size: 3rem;
        height: 5rem;
    }

    .registration-form-wrapper .input-box button {
        font-size: 2.5rem;
        height: 5rem;
        min-width: 40%;
    }
}

@media(max-width:786px) {

    /* ..form-code */

    .registration-form-wrapper {
        display: flex;
        flex-direction: column;
        height: 100%;
        min-width: 100%;
        justify-content: center;
        align-items: center;
        margin-top: 2rem;
    }

    .registration-form-wrapper .input-box {
        row-gap: 3rem;
    }

    .registration-form-wrapper .form-left {
        height: 85vh;
        min-width: 90%;
    }

    .registration-form-wrapper .form-right {
        height: 78vh;
        min-width: 90%;
    }

    .registration-form-wrapper .input-box input {
        font-size: 2.5rem;
        height: 6rem;

    }

    .registration-form-wrapper .input-box {
        row-gap: 4.5rem;
    }

    .registration-form-wrapper .input-box button {
        font-size: 3rem;
        height: 7rem;
        min-width: 40%;
    }




    .home {
        flex-direction: column;
    }

    .logo {
        margin-left: -50rem;
    }

    #menu-icon {
        position: absolute;
        margin-left: 34rem;
    }

    #cross {
        position: absolute;
        margin-left: 34rem;
        margin-top: -1.5rem;
    }

    .top-btn {
        position: absolute;
        margin-left: 58rem;
    }


    .home-content h3 {
        font-size: 4.5rem;
        margin-top: 1.5rem;
    }

    .home-content {
        order: 2;
    }

    .home-img {
        width: 70vh;
        margin-top: 4rem;
    }

    .home-img {
        margin-left: -10rem;
    }

    .about {
        flex-direction: column;

    }

    .about-img img {
        width: 70vw;
        margin: 10rem;

    }

    .about-content {
        text-align: center;
    }

    .about-content h2 {
        text-align: center;
    }

    /* -----contact-code */
    .contact-left {
        align-items: start;
        min-width: 100vw;
        padding-inline-start: 10rem;
    }

    .contact-leftRight-Container {
        display: flex;
        flex-direction: column;
        gap: 10rem;
    }

    .image-contact .para-info-main {
        font-size: 3rem;
        min-width: 100vw;
    }

    .contact-left .left-item .left-icon {
        height: 10rem;
        width: 12rem;
    }

    .contact-left .left-item .left-icon i {
        font-size: 5rem;
    }

    .contact-left .left-item .item-name .logo-name {
        font-size: 3rem;
    }

    .contact-left .left-item .item-name p {
        font-size: 3rem;
    }

    .services h2 {
        margin-bottom: 3rem;
    }

    .contact-right {
        width: 80vw;
        max-height: 80vh;
    }

    .contact-right .right-msg h1 {
        font-size: 3.5rem;
    }

    .contact-right .right-item .input input {
        min-width: 90%;
        min-height: 5rem;
        font-size: 3.5rem;
    }

    .contact-right .right-item {
        gap: 4rem;
    }

    .contact-right .right-item .input textarea {
        min-width: 90%;
        min-height: 8rem;
        font-size: 3.5rem;
    }

    .contact-right .right-item .button2 button {
        height: 7rem;
        width: 12.5rem;
        font-size: 4rem;
    }


    .home-img:before {
        content: 'FITNESS';
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 20rem;
        font-weight: 400;
        line-height: 20rem;
        color: var(--text-color);
        opacity: 0.1;
        z-index: -1;

    }

    .grid-plan {
        text-align: center;
    }
}

@media(max-width:617px) {
    .home-img img {
        width: 80vw;
        margin-left: -6rem;
    }

    .about-img img {
        width: 70vw;
        margin-top: 4rem;
        margin-left: 5rem;
    }

    .logo {
        margin-left: -35rem;
    }

    #menu-icon {
        position: absolute;
        margin-left: 17rem;
    }

    #cross {
        position: absolute;
        margin-left: 17rem;
        margin-top: -1.5rem;
    }

    .top-btn {
        position: absolute;
        margin-left: 42rem;
    }

    .home-content {
        margin-left: 10rem;
    }

    .home-img:before {
        content: 'FITNESS';
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 15rem;
        font-weight: 400;
        line-height: 20rem;
        color: var(--text-color);
        opacity: 0.1;
        z-index: -1;

    }

    .grid-plan {
        text-align: center;
    }

    /* --contact-code */
    .image-contact .para-info-main {
        min-width: 100%;
        padding-inline: 0rem;
        padding-top: 0px;
    }

    .contact-left {
        align-items: start;
        min-width: 100%;
        padding-inline-start: 1rem;
    }

    /* .review  */
    .review-item p {
        font-size: 2.5rem;
        line-height: 3rem;
    }
}

@media(max-width:450px) {
    html {
        font-size: 50%;
    }

    .logo {
        margin-left: -25rem;
    }

    #menu-icon {
        position: absolute;
        margin-left: 6rem;
    }

    #cross {
        position: absolute;
        margin-left: 6rem;
        margin-top: -1.5rem;
    }

    .top-btn {
        position: absolute;
        margin-left: 30rem;
    }

    .home-img img {
        width: 110vw;
        height: 45rem;
        margin-left: 6rem;
    }

    .home-content h3 {
        font-size: 2.5rem;
        margin-top: 1.5rem;
    }

    .home-content h1 {
        width: 45rem;
    }

    .home-content p {
        font-size: 2rem;
        max-width: 100vw;
    }

    .home-content {
        margin-left: 10rem;
    }

    .home-img:before {
        content: 'FITNESS';
        position: absolute;
        top: 10%;
        left: 50%;
        transform: translateX(-50%);
        font-size: 10rem;
        font-weight: 400;
        line-height: 20rem;
        color: var(--text-color);
        opacity: 0.1;
        z-index: -1;

    }

    .contact-left {
        align-items: start;
        min-width: 90%;
        padding-inline-start: 0rem;
    }

    .contact-left .left-item .item-name .email-add {
        max-width: 10vw;
        
   }
   .contact-left .left-item .left-icon {
     height: 6rem;
        width: 8rem;
   }
   .contact-left .left-item .left-icon i {
    font-size: 3.5rem;
   }
   .contact-left .left-item .item-name p {
    font-size: 2.4rem;
   
}

}