* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
    scroll-behavior: smooth;
    outline: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

:root {
    --bg-color: #000;
    --snd-bg-color: #111;
    --text-color: #fff;
    --main-color: #45ffca;
    --rd-color: rgb(255, 0, 0);
    --fade-color: rgba(95, 93, 93, 0.479);
}

html {
    font-size: 62.5%;
}

body {
    background: rgb(0, 0, 0);
    color: var(--text-color);
}

section {
    min-height: 100vh;
    padding: 6rem 5% 2rem;
    overflow: hidden;
}

/* header section code */

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 4rem;
    background: rgb(0, 0, 0, 0.5);
    backdrop-filter: blur(10px);
    transition: all 0.5s ease;
    z-index: 100;
}

.logo {
    font-size: 3rem;
    color: var(--text-color);
    font-weight: 800;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.logo:hover {
    transform: scale(1.1);
}

header,
.logo span,
.services span,
.plan h2 span,
.review-box h2 span {
    color: var(--rd-color);
}

#cross {
    display:none;
    font-size: 2.5rem;
}
#menu-icon
{
    display: none;
}
.navbar {
    display: flex;
    margin-left: 25rem;
}

.navbar a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--text-color);
    margin-left: 4rem;
    transition: all 0.5s ease;
    border-bottom: 3px solid transparent;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
    border-bottom: 3px solid var(--main-color);
}

.top-btn {
    margin-left: 5rem;
}

.nav-btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: transparent;
    color: var(--text-color);
    border: 2px solid var(--main-color);
    border-radius: 1rem;
    font-size: 1.6rem;
    font-weight: 600;
    transition: all 0.5s ease;
}

.nav-btn:hover {
    background: var(--main-color);
    color: var(--text-color);
    box-shadow: 0 0 1.5rem var(--main-color), 0 0 1.5rem var(--main-color);

}

.fa-bars {
    font-size: 2.3rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

/* home section code */
.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-content h3 {
    font-size: 5rem;
    font-weight: 700;
}

.home-content span {
    font-size: 4rem;
    font-weight: 550;
}

.home-content span {
    color: var(--main-color);
}

.home-content h1 {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1.3;
}

.home-img img {
    width: 55rem;
    height: 50rem;
    margin-left: 2rem;
}

.home-img:before {
    content: 'FITNESS';
    position: absolute;
    top: 10%;
    left: 30%;
    transform: translateX(-50%);
    font-size: 20rem;
    font-weight: 400;
    line-height: 20rem;
    color: var(--text-color);
    opacity: 0.1;
    z-index: -1;

}

.home-content p {
    font-size: 1.4rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    width: 50rem;
}

#home .home-content .btn {
    display: inline-block;
    padding: 1rem 2.5rem;
    background: var(--main-color);
    box-shadow: none;
    font-size: 1.9rem;
    color: var(--bg-color);
    letter-spacing: 0.1rem;
    transition: 0.5s ease;
}

#home .home-content .btn:hover {
    color: var(--text-color);
    text-shadow: 0 0 1.6rem var(--main-color);
    box-shadow: 0 0 1rem var(--main-color), 0 0 1rem var(--main-color);
}

/* services section code */
.services {
    background: var(--bg-color);
}

.heading {
    text-align: center;
    font-size: 4rem;
}

.services-content {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
    gap: 2.3rem;
    margin-top: 4.1rem;
    justify-content: center;
    align-items: center;
}

.row {
    background: var(--bg-color);
    border-radius: 2.7rem;
    border: 0.1rem solid transparent;
    box-shadow: 0 0 0.5rem rgb(153, 147, 147);
    padding: 2rem;
    transition: all 0.5s ease;
}

.row img {
    height: auto;
    width: 100%;
    border-radius: 2.7rem;
    margin-bottom: 1.4rem;
}

.row h4 {
    font-size: 2.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1.4;
}

.row:hover {
    border: 1px solid var(--main-color);
    transform: translateY(-0.5rem) scale(1.04);
    cursor: pointer;
}

/* supliment-code */
.supliment {
    font-size: large;
    border: 1px solid white;
    border-top: white;
    border-left: none;
    border-right: none;
    padding-block-end: 1rem;
    margin-top: 3rem;
}
.sup-list{
    width: 100%;
}

/* about.section code */


.about-main-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.about-img img {
    width: 50vw;
    border-radius: 1rem;
    border: 0.2rem solid var(--text-color);
    transition: 0.5s ease;
}

.about-img img:hover {
    transform: scale(1.02);
    border: 0.1rem solid var(--text-color);
}

.about-content .heading {
    text-align: center;
    font-size: 4.3rem;
}

.about-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 3rem;
}

.about-content h2 {
    text-align: left;
}

.about-content p {
    font-size: 1.6rem;
    margin: 1.2rem 0rem;
    letter-spacing: 0.1rem;
    text-align: justify;
}

.btn-btn {
    display: inline-block;
    justify-content: center;
    padding: 0.5rem 2.8rem;
    background: var(--main-color);
    border-radius: 1rem;
    box-shadow: none;
    font-size: 1.6rem;
    color: var(--bg-color);
    font-weight: bold;
    transition: 0.5s ease;
    height: 4.5rem;
    width: 15rem;

}

.btn-btn:hover {

    color: var(--text-color);
    text-shadow: 0 0 1.6rem var(--main-color);
    box-shadow: 0 0 1rem var(--main-color), 0 0 1rem var(--main-color);
}

.icons-option {
    /* display: flex; */
    /* justify-content: space-around; */
    margin-block: 5rem;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
    gap: 2.3rem;
}

.icon11 {
    display: flex;
    flex-direction: column;
    height: 35rem;
    border-radius: 1rem;
    box-shadow: 0px 0px 3px white;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;

}

.icon11:hover {
    border: none;
    box-shadow: 0px 0px 18px white;
    background-color: rgb(255, 255, 255);
    transform: translateY(-0.5rem) scale(1.02);
}

.icon11:hover h3 {
    color: black;
}

.icon11:hover h1 {
    color: #000;
}

.icon11 p {
    display: flex;
    flex-direction: column;
    height: 7rem;
    width: 7rem;
    background: linear-gradient(135deg, #099aa7,
            color-mix(in srgb, #099aa7, #6c5ce7 20%));
    align-items: center;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    justify-content: center;

}

.icons-option .icon11 span h1 {
    font-size: 1.5rem;
    /* color: white; */
    margin-block: 1rem;
}

.icons-option .icon11 i {
    color: white;
    font-size: 3rem;
}

.icons-option .icon11 h3 {
    display: inline-block;
    width: 35rem;
    padding-block: 2rem;
    font-size: 1.7rem;
    text-align: center;
    line-height: 2.5rem;
    letter-spacing: 0.1rem;
    /* color: white; */
}

/* plan section code */

.plan {
    /* background: var(--bg-color); */
    background-image: linear-gradient(to right, rgba(56, 56, 236, 0.767), transparent);
}

.grid-plan {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(35rem, auto));
    gap: 2.3rem;
    margin-top: 4.1rem;

}

.grid-plan .g-row {
    background: var(--fade-color);

}

.grid-plan .g-row {
    line-height: 4.2rem;
    border-radius: 2.7rem;
    border: 0.1rem solid white;
    padding: 4rem;
    transition: all 0.5s ease;
}

.grid-plan .g-row:hover {
    box-shadow: 0 0 1rem var(--main-color);
    transform: translateY(-0.5rem) scale(1.04);
    cursor: pointer;
}


.grid-plan .g-row h1 {
    color: rgb(104, 206, 158);
    font-size: 4rem;
}

.grid-plan .g-row li {
    font-size: 1.5rem;
    list-style: disc;
}

.grid-plan .g-row h2 {
    font-size: 3rem;
}

.grid-plan .g-row a {
    font-size: 2.4rem;
    color: white;
    display: inline-block;
    line-height: 1.2rem;
    border-bottom: 0.2rem solid #5d6c83;
    transition: all 0.5s ease;
    padding-bottom: 2rem;
}

.grid-plan .g-row a:hover {
    border-bottom: 0.2rem solid var(--main-color);
}

/* review section code */



/* Contact-Section-code */
.image-contact {
    position: relative;
    background-image: url('/assets/image3.jpg');
    background-attachment: fixed;
    background-size: cover;
    height: 100%;
    width: 100%;
}

.layer {
    position: absolute;
    background-color: black;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    opacity: 0.7;
    z-index: 1;
}

.image-contact .img-h {
    position: relative;
    z-index: 2;

}

.image-contact .para-info-main {
    text-align: center;
    font-size: 2rem;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-inline: 10rem;
    padding-top: 10px;
    position: relative;
    z-index: 2;
}

.contact-leftRight-Container {

    display: flex;
    margin-top: 3rem;
    /* background-color: red; */
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
}

/* left-side    */
.contact-left {
    height: 50%;
    width: 50%;
    /* background-color: #099aa7; */
    display: flex;
    flex-direction: column;
    gap: 7rem;
    
}

.contact-left .left-item {
    display: flex;
    gap: 2rem;
    align-items: center;
    width: 100%;
}

.contact-left .left-item .left-icon {
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-left .left-item .left-icon i {
    color: red;
    font-size: 2.3rem;

}

.contact-left .left-item .left-icon #mobile,
#email {
    color: #000;
}

.contact-left .left-item .item-name .logo-name {
    font-size: 2rem;
    color: rgb(134, 152, 212);
    min-width: 90%;
}

.contact-left .left-item .item-name p {
    font-size: 2rem;
   
}
.contact-left .left-item .item-name .email-add{
    
    min-width: 90%;
}

/* right-side */
.contact-right {
    height: 100%;
    width: 30%;
    background-color: white;
    padding-inline-start: 3rem;
    padding-block: 3rem;
}

.contact-right .right-msg h1 {
    font-size: 2rem;
    font-family: Arial, Helvetica, sans-serif;
    padding-bottom: 3rem;
    color: rgb(81, 115, 228);

}

.contact-right .right-item {
    display: flex;
    flex-direction: column;
    gap: 3rem;

}

.contact-right .right-item .input input {

    height: 3rem;
    width: 30rem;
    font-size: 1.8rem;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    padding-inline: 0.5rem;
    background-color: transparent;
    z-index: 3;
    color: #000;
}

.contact-right .right-item .input textarea {
    height: 5rem;
    width: 30rem;
    font-size: 1.8rem;
    padding-inline: 0.5rem;
    background-color: transparent;
    border: 1px solid black;
    border-left: none;
    border-right: none;
    border-top: none;
    color: #000;
}

.contact-right .right-item .button2 button {
    height: 3.5rem;
    width: 8rem;
    border-radius: 3px;
    font-size: 2.2rem;
    background-color: rgb(81, 115, 228);
    color: white;
}

/*end- Contact-Section-code */
/* footer section code */

.footer {
    position: relative;
    bottom: 0;
    width: 100%;
    padding: 3rem 0;
    opacity: 0.7;
    background-repeat: no-repeat;
    /* background: #1c1d1c; */
    background-image: url('assets/dark.jpg');

}

.footer .social {
    text-align: center;
    padding-bottom: 0rem;
    color: #45ffca;
}

.footer .social a {
    font-size: 2.5rem;
    color: #45ffca;

    height: 4.2rem;
    width: 4.2rem;
    line-height: 4.2rem;
    border-radius: 50%;
    margin: 0 2rem;
    transition: 0.3s ease-in-out;
    display: inline-block;
}

.footer .social a:hover {
    background: linear-gradient(145deg, aqua, rgb(158, 37, 214));
    box-shadow: 0 0 2.5rem var(--main-color);
    transform: translateY(-1rem) scale(1.2);
    color: #000;
}

.footer .copyright {
    margin-top: 2rem;
    text-align: center;
    font-size: 1.6rem;
    color: var(--text-color);
}

::-webkit-scrollbar {
    width: 1.5rem;

}

::-webkit-scrollbar-thumb {
    background: rgba(255, 255, 255, 0.404);
    width: 50%;
}











